---
import { useSanityClient } from 'astro-sanity';
import { Image } from 'astro:assets';
import { getFirstBlogPost, urlForImage } from '../lib/api';
import Main from '../components/MainBlog.astro';
import Layout from '../layouts/Layout.astro';
getStaticPaths;
export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "funtazia"]`);
  /*   console.log(posts); */
  return posts.map(
    ({
      slug,
      content,
      headline,
      image,
      imagesGallery,
      imagesTest,
      publishedAt,
      author,
      content2,
    }) => {
      return {
        params: { slug: slug.current },
        props: {
          content,
          headline,
          image,
          imagesGallery,
          imagesTest,
          publishedAt,
          author,
          content2,
        },
      };
    }
  );
}

const { slug } = Astro.params;
const {
  headline,
  content,
  image,
  imagesGallery,
  imagesTest,
  publishedAt,
  author,
  content2,
} = Astro.props;

const date = new Date(publishedAt);
---

<Layout>
  <Main>
    <!--  <div class="w-[500px] m-auto">
      <a data-fslightbox="gallery" href="https://i.imgur.com/fsyrScY.jpg">
        <img src="https://i.imgur.com/fsyrScY.jpg" alt="Image" />
      </a>
    </div> -->
    <div class="w-screen bg-secondaryColor">
      <img
        class="w-screen opacity-75 brightness-50"
        src={image ? urlForImage(image).format('webp') : ''}
      />
    </div>
    <section class="w-full relative">
      <div
        class="relative max-w-screen w-10/12 lg:w-6/12 left-1/2 transform -translate-x-1/2 mt-[-150px] lg:mt-[-500px] shadow-2xl"
      >
        <!-- top-[-100px] md:top-[-200px] lg:top-[-300px] xl:top-[-450px] -->
        <div
          class="bg-secondaryColor border-4 border-black rounded-xl z-index-2 transition-all p-4"
        >
          <h1
            class="p-2 text-center text-[calc(1.2rem+1.2vw)] text-accentColor2 leading-[1.1]"
            style="text-shadow: 1px 1px orange, 4px 4px black; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; -webkit-text-fill-color: transparent"
          >
            {headline}
          </h1>
          <!-- <h1 class="text-amber text-center text-4xl p-4">{headline}</h1> -->
          <p class="p-2 m-2 text-primaryColor text-center">
            <span
              >{
                date.getUTCFullYear() +
                  '.' +
                  date.getUTCMonth() +
                  '.' +
                  date.getUTCDate() +
                  '. - ' +
                  date.getUTCHours() +
                  ':' +
                  date.getUTCMinutes()
              }</span
            >
            <span class="text-amber text-2xl">|</span>
            {author}
          </p>
          <!--   <p class="p-2 m-3 text-xl font-judson">
            {content}
          </p> -->

          <section class="bg-secondaryColor justify-center">
            {
              content2.map((obj) => (
                <>
                  <div class="">
                    <h2 class="text-amber text-3xl p-2">{obj.subhead}</h2>
                    <p class="p-4 m-2 text-xl font-judson">{obj.content}</p>
                    <div class="flex flex-wrap justify-center">
                      {obj.imagesTest.map((obj) => (
                        <>
                          <div class="items-center relative group   rounded-md   m-3  hover:border-amber hover:border-2 ">
                            <a class="absolute inset-0 z-10 text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 duration-500">
                              <h1 class=" text-amber text-xl">{obj.alt}</h1>
                            </a>
                            <a
                              href={urlForImage(obj.image).format('jpg')}
                              data-fslightbox="gallery"
                              class=""
                            >
                              <img
                                class="h-[300px] w-auto rounded-md group-hover:opacity-10"
                                src={urlForImage(obj.image).format('jpg')}
                                alt="Image"
                              />
                            </a>
                          </div>
                        </>
                      ))}
                    </div>
                  </div>
                </>
              ))
            }
          </section>
        </div>
      </div>
    </section>
    <section class="p-1 m-3 bg-backgroundColor">
      <h1
        class="text-6xl p-5 text-center text-[calc(1.2rem+1.5vw)] text-accentColor2 leading-[1.1]"
        style="text-shadow: 1px 1px orange, 4px 4px black; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; -webkit-text-fill-color: transparent"
      >
        Galéria
      </h1>
      <div id="gallery" class="flex flex-wrap justify-center p-5">
        {
          imagesGallery.map((kep) => (
            <>
              <div class="hover:scale-105 transition-all ">
                <a
                  href={urlForImage(kep).format('jpg')}
                  data-fslightbox="gallery"
                >
                  <img
                    class="h-[300px] w-auto m-6 hover:border-2 rounded-md hover:border-amber"
                    src={urlForImage(kep).format('jpg')}
                    alt="Image"
                  />
                </a>
              </div>
            </>
          ))
        }
      </div>
    </section>
  </Main>
</Layout>

<script>
  import fslightbox from 'fslightbox';
  fsLightbox.props.type = 'image';

  const imageContainer = document.querySelector('.image-container');

  imageContainer.addEventListener('mouseover', hover);
  imageContainer.addEventListener('mouseout', hover);

  function hover() {
    document.querySelector('.hover').classList.toggle('active');
  }
</script>

<style>
  .hover {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .active {
    opacity: 1;
  }
</style>
