---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import sevilla from '../assets/sevilla.jpg';
import Main from '../components/MainBlog.astro';
import Card from '../components/Card.astro';

import { getFirstBlogPost, urlForImage } from '../lib/api.js';
const posts = await getFirstBlogPost();

const { slug } = Astro.params;
const { headline, content, image, author, publishedAt } = Astro.props;

/* console.log('\n' + image + ' képgeci \n'); */
---

<Layout title="Funtázia blog">
  <Main>
    <section>
      <div class="flex flex-wrap width-screen justify-center">
        {
          posts &&
            posts.map((post) => (
              <>
                <Card
                  headline={post.headline}
                  slug={post.slug}
                  author={post.author}
                  image={post.image}
                  content={post.content}
                  publishedAt={new Date(post.publishedAt)}
                />
              </>
            ))
        }
      </div>
    </section>
  </Main>
</Layout>
